
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.logo
{
    font-family: 'Homemade Apple', cursive;
    color: black;
    font-size: 22px;
}
.active
{
    font-weight: bold;
    color: #2d2a2a;
}
body
{
    background-color: #f6f5f5;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
}
section
{
    width: 100%;
    height: 95vh;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    padding: 0px 5%;
}
.menu ul
{
    display:flex;
}
.menu ul li a
{
    margin: 30px;
    font-family: 'Orbitron', sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}
.text-container p:nth-child(1)
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: bold;
    color: #6d6d6d;
}
.text-container p:nth-child(2)
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}
.text-container p:nth-child(3)
{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color: #403e3e;
    font-size: 30px;
}
.text-container p
{
line-height: 0px;
margin: 45px 0px 25px;
}

.text-container
{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%,-42%);
}
.text-container button
{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
.hire-btn
{
    border: 2px solid #373636;
    color: #373636;
}
button:active
{
    transform: scale(1.1);
}
.down-cv
{
    background-color: #0b0b0b;
    color: #fff;
    border: none;
}
.model
{
    height: 91.5%;
    width: 30%;
    position: relative;
    bottom:0px ;
    left: 20%;
    transform: translateX(-50%);
}

.about
{
    width: 960px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin:0 auto ;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.me
{
    border-radius: 150px;
    border: 2px solid #6d6d6d;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    height:311px ;
    width:247px;
}
.about-text
{
    width: 550px;
}

.about-text p:nth-child(1)
{
    color: #403e3e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 23px;
}
.about-text p:nth-child(2)
{
    color: #3e3d3d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 13x;
}

.about-text p:nth-child(3),
.about-text p:nth-child(4)
{
    color: #737d7d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.about-text button
{
    width: 120px;
    height: 40px;
    color: #fff;
    outline: none;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #262525;
    border-radius: 10px;
}
.skills
{
    
    align-items: center;
    margin: 0 auto;
}

.services
{
    height: 600px;
    background-color: #fff;
    padding: 2% 10% 0px 10%;

}
.services-text
{
    width: 500px;
    margin: 50px 0px;
}
.services-text p:nth-child(1)
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
}
.services-text p:nth-child(2)
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 15px;
}
.services-text p:nth-child(3)
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #7e7d7d;
    font-size: 30px;
    
}
.box1 ,.box2 , .box3 ,.box4 ,.box5 , .box6 , .box7
{
    width: 200px;
    height: 200px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.4);
    padding-right: 10px;
    margin-right: 27px;
    font-family: 'Orbitron', sans-serif;
    border: 1px solid #2d2a2a;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 10px;
    border-radius: 150px;
}
#skill-head
{
    text-align: center;
    color: #262525;
    margin: 10px;
    font-size:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box-container
{
    text-align: center;
    display: flex;
    justify-content: center;
}
.contact
{
    height: 833px;
}
.text-center
{
    text-align: center;
    color: #262525;
    margin: 10px;
    font-size:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form
{
    max-width: 62%;
    margin: 43px auto;
}
.form-style
{
    margin: 14px 0 ;
    width: 100%;
    padding:5px 3px;
    font-size: 19px;
    border: 2px solid #2d2a2a;
    border-radius: 6px ;
}

.btn
{
    width: 120px;
    height: 40px;
    color: #fff;
    outline: none;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #262525;
}
footer
{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #2d2a2a;
}

.text-footer
{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    padding: 30px 0;
}
.social
{
    width: 100%;
}
.social-logos
{
    width: 70%;
    display: flex;
    margin: 0 auto;
    position: relative;
    left: 65%;
    
}
.social-img
{
    padding: 10px;
}
.burger
{
    display: none;
    position:absolute;
    cursor: pointer;
    top:15px;
    left: 5%;
}
.line
{
    width: 33px;
    background-color: #1a1a1a;
    height: 4px;
    margin: 5px 5px;;
}

@media only screen and (max-width:699px)
{
    .burger
    {
        display: block;
    }
    .logo
    {
        vertical-align: center;
        margin: 10px;
    }
    .menu
    {
        flex-direction: column;
        height: 191px;
        background-color: #f3f2f2;
        width: 100%;;
    }
    .active
    {
        padding: 10px;
        justify-items: space-evenly;
    }
    .nav-list
    {
        padding-bottom: 10px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    .nav-list li
    {
        padding: 3px;
    }
    .h-nav
    {
        height: 52px;
        width: 100%;
    }
    .v-class
    {
        opacity: 0;

    }
    .me
    {
        height:90px;
        width:90px;
    }
.text-container p:nth-child(1)
{
    font-size: 3vh;
    text-align: center;
}
.text-container p:nth-child(2)
{
    align-content: center;
    text-align: center;
    font-size: 4vh;

}
.text-container p:nth-child(3)
{
    font-size: 2vh;
    text-align: center;
}
.about
{
    flex-direction: column;
    width: 80%;
}

.down-cv
{
    text-align: center;
    justify-content: center;
}

.about-text p:nth-child(1)
{
    font-size: 2vh;
    text-align: center;
}
.about-text p:nth-child(2)
{
    font-size: 2vh;
    text-align: center;
}

.about-text p:nth-child(3),
.about-text p:nth-child(4)
{
    font-size: 1vh;
    text-align: center;
    font-weight: bold;
}
.btn-resp
{
    font-size: 0.875em;
    display: block;
    margin:0 auto;
    width: 100%;
    right: 10px;

}
.about-text button
{
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-top: 2px;
}
}
